<div>
<nav class="navbar navbar-expand-sm  navbar-light  justify-content-center" style="background-color: #19E237;">

    <ul class="navbar-nav container" style="color: white;">

        <li class="nav-item active">

            <a class="nav-link" href="/">Home</a>

        <li>

        <li class="nav-item">

            <a class="nav-link" href="/new">New</a>

        <li>

        <li class="nav-item">

            <a class="nav-link" href="/list">List</a>

        <li>

    <ul>

<nav>
</div>
<br><br>