<!--Link included on all pages so that the same nav bar is included on each file path directory-->
<%- include("header") %>

<div role="main" class="container">

    <br/><br/>
    <!--Message used on all pages to output the matching page title-->
    <h2>Welcome to the <%= message %>!</h2>

</div>
<!--Footer used on all pages-->
<%- include("footer") %>